/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
vendor/
node_modules/

bootstrap/cache/
.env.*.php
.env.php
typings

.rocketeer/
portfolio.local-error_log
portfolio.local-access_log

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

.project
.classpath
.c9/
*.launch
.settings/
/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

_ide_helper.php

/*.log
