 <div>
    <a class="contact animated bounceInLeft" href="mailto:olegstyle1@gmail.com">
        <h3>Email</h3>
        <p>{{serverData.email}}</p>
        <div class="ico ico-s-mail"></div>
    </a>
</div>
<div>
    <a class="contact animated bounceInLeft" href="skype:olehstail">
        <h3>Skype</h3>
        <p>{{serverData.skype}}</p>
        <div class="ico ico-s-skype"></div>
    </a>
</div>
<div>
    <div class="social">
        <a class="contact animated bounceInLeft" href="{{serverData.socialLinks.vk}}" rel="nofollow" target="_blank" mdTooltip="VK"><div class="ico ico-s-vk"></div></a>
        <a class="contact animated bounceInLeft" href="{{serverData.socialLinks.fb}}" rel="nofollow" target="_blank" mdTooltip="Facebook"><div class="ico ico-s-fb"></div></a>
        <a class="contact animated bounceInLeft" href="{{serverData.socialLinks.instagram}}" rel="nofollow" target="_blank" mdTooltip="Instagram"><div class="ico ico-s-insta"></div></a>
        <a class="contact animated bounceInLeft" href="{{serverData.socialLinks.linkedin}}" rel="nofollow" target="_blank" mdTooltip="LinkedIn"><div class="ico ico-s-in"></div></a>
    </div>
</div>
