.float-label-control input, .float-label-control textarea {
    border-bottom: 2px solid white;
    color: white;
    z-index: 1;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
    background-size: auto 30px;
}
.float-label-control textarea {
    max-width: 100%;
}
.float-label-control label {
    color: #f9f9f9;
}
.float-label-control input:focus, .float-label-control textarea:focus {
    border-bottom: 2px solid #4cc3bf;
}
.float-label-control input.empty + label, .float-label-control textarea.empty + label {
    margin-left: 40px;
}

form .btn-bo-wrapper {
    text-align: right;
}
.float-label-control input[name="name"] {
    background-image: url("images/cName.png");
}
.float-label-control input[name="email"] {
    background-image: url("images/cMail.png");
}
.float-label-control textarea[name="message"] {
    background-image: url("images/cMessage.png");
}
