
<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
    <md-form-field>
        <input mdInput name="name" placeholder="Name" [(ngModel)]="formModel.nameValue">
    </md-form-field>
    <md-form-field>
            <input mdInput name="email" placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="formModel.emailValue">
        <md-error *ngIf="emailFormControl.hasError('pattern')">
            Please enter a valid email address
        </md-error>
        <md-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </md-error>
    </md-form-field>
    <md-form-field>
        <textarea mdInput name="message" placeholder="Message" [(ngModel)]="formModel.messageValue"></textarea>
    </md-form-field>

    <my-recaptcha #recaptcha="" (response)="onTokenChanged($event)"></my-recaptcha>

    <div class="btn-bo-wrapper"><button class="btn-bo btn-bo-white">Send</button></div>
</form>
